<!--
  Generated template for the SelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start" *ngIf="!searching">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="!searching" >Nova Lista ({{list.length}})</ion-title>

    <ion-searchbar 
      #searchbar 
      [placeholder]="placeHolder" 
      [class.hide]="!searching"
      [type]="type" 
      showCancelButton="aways"
      (ionInput)="getItems($event.target.value)"
      (ionCancel)="search()">
    </ion-searchbar>

    <!-- <ion-searchbar 
      #searchbar 
      [placeholder]="placeHolder"
      [class.hide]="!searching"
      [type]="type"
      [showCancelButton]="true" 
      (keyup)="getSearchItems()"
      (ionClear)="searchClear()"
      (ionCancel)="searchClose()">
    </ion-searchbar> -->

    <ion-buttons *ngIf="!searching" slot="end">
      <ion-button (click)="pushPageGenerate()" icon-only color="royal">
        <ion-icon name="shuffle"></ion-icon>
      </ion-button>
      <ion-button (click)="search(2)" ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content class="scroll-content">
  <ion-virtual-scroll 
    [items]="songs"
    approxItemHeight="65px">

    <ion-item
      lines="none"
      *virtualItem="let song; let i = index"
      (click)="pushPageMusic(song.ID)">
      
      <ion-icon 
        slot="start"
        name="heart"
        [ngClass]="song.favorit ? 'favorite-color' : 'normal-color'">
      </ion-icon>

      <ion-label>
        <h2>{{song.numero+". "}}{{song.titulo}}</h2>
        <p>{{song.tags}}</p>
      </ion-label>

      <ion-button class="wrapper" fill="clear">
        <ion-checkbox
          slot="end"
          color="dark"
          (click)="check(song, $event)"
          [(ngModel)]="checked[song.ID]"
          (ionChange)="isEmpty()">
        </ion-checkbox>          
      </ion-button>
      
    </ion-item>

  </ion-virtual-scroll>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="search(1)">
      <ion-icon name="keypad"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar color="light" class="ion-text-right">
      <ion-button color="dark" fill="clear" (click)="cancel()">
        Cancelar
      </ion-button>
      <ion-button
        color="secondary"
        fill="clear"
        [disabled]="isEmpty()"
        (click)="goToList()"
        [routerLink]="['/list/temp']"
        [routerDirection]="'forward'"
        routerLinkActive="router-link-active">
        Criar Lista
      </ion-button>
  </ion-toolbar>
</ion-footer>

