<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listas</ion-title>
    <ion-buttons start>
      <button ion-button icon-only color="royal">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngIf="lists.length == 0" >
    <ion-card-header>
      Ainda não há listas! :(
    </ion-card-header>
    <ion-card-content>
      Vá em frente, toque no botão de + para criar uma lista  
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let list of lists; let i = index" (click)="pushPageLists(i)">
    <ion-card-header>
      <ion-card-title>
        {{list.name}}
      </ion-card-title>
      <ion-row>
        <ion-col left>
          <p>{{list.date}}</p>
        </ion-col>
        <ion-col text-right>
          <p>{{list.time}}</p>
        </ion-col>
      </ion-row>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list class="expand-wrapper" [class.collapsed]="!expanded[i]" [class.expanded]="expanded[i]" >
        <ion-item *ngFor="let song of list.songs; let i = index" >
          {{song.numero}}. {{song.titulo}}
        </ion-item>
      </ion-list>
    </ion-card-content>
    
    <ion-toolbar color="white">
      <ion-buttons>
        <button [class.rotate]="expanded[i]" ion-button icon-only color="secondaryTextColor" (click)="expandItem(i); $event.stopPropagation();">
          <ion-icon name="arrow-dropdown"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons start>
        <button ion-button icon-only color="secondaryTextColor" (click)="deleteList(i);  $event.stopPropagation();">
          <ion-icon name="trash"></ion-icon>
        </button>
        <!--<button ion-button icon-only color="secondaryTextColor">
          <ion-icon name="document"></ion-icon>
        </button>
        <button ion-button icon-only color="secondaryTextColor">
          <ion-icon name="share"></ion-icon>
        </button>-->
      </ion-buttons>
    </ion-toolbar>
  </ion-card>

  <ion-fab right bottom (tap)="newList()">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
