page-list {

    ion-textarea{
        padding: 0 16px;
    }

    .item-cover{
        left: initial;
        right: 0;
        width: 52px;
    }

    .cantadas{
        opacity: 0.5;
    }

    .cantadas ion-label{
        text-decoration: line-through;
    }

    .rotate{
        transform: rotate(180deg);
    }

    .expand-wrapper {
        transition: 0.3s linear;
        overflow: hidden;
        background-color: color($colors, light);
    }   

    .collapsed {
        height: auto !important;
        max-height: 0px !important;
    }

    .expanded {
        // height: 400px !important;
        max-height: 500px !important;
    }
    
}