<!--
  Generated template for the ListsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{list.name}}</ion-title>
  </ion-navbar>
  

</ion-header>


<ion-content>

  <ion-toolbar color="light">

    <button ion-button clear color="secondaryTextColor" (tap)="expandItem()">
      Comentários
    </button>

    <ion-buttons start>
      <button [class.rotate]="expanded" ion-button icon-only color="secondaryTextColor" (tap)="expandItem()">
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

  <div class="expand-wrapper" [class.collapsed]="!expanded" [class.expanded]="expanded">

    <!--<ion-input type="text-area" placeholder="Escreva um lembrete ou comentário!  :)"></ion-input>-->
    <ion-textarea #input [disabled]="!editing" [value]="comments" rows="3" maxLength="500" placeholder="Escreva um lembrete ou comentário!  :)"></ion-textarea>
    <ion-toolbar color="light" text-right>

        <button *ngIf="!editing" ion-button color="secondary" clear (tap)="edit();">
          Editar
        </button>
        <button *ngIf="editing" ion-button color="secondaryTextColor" clear (tap)="cancel(); input.value = comments;">
          Cancelar
        </button>
        <button *ngIf="editing" ion-button color="secondary" clear (tap)="save(input.value);">
          Salvar
        </button>
    </ion-toolbar>

  </div>

  <ion-list no-lines>
    <ion-item *ngFor="let song of songs; let i = index;" (click)="pushPageMusic(song.ID)">
      <ion-label>
        {{song.numero}}. {{song.titulo}}
      </ion-label>
      <ion-checkbox item-end color="dark" (click)="check(song); $event.stopPropagation();" [checked]="desmarcado"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list no-lines *ngIf="checked.length > 0" >
    <ion-list-header>cantadas</ion-list-header>
    <ion-item class="cantadas" *ngFor="let song of checked; let i = index;">
      <ion-label>
        {{song.numero}}. {{song.titulo}}
      </ion-label>
      <!--<ion-checkbox item-end color="dark" [(ngModel)]="checked[song.ID]" (ionChange)="isChecked()" ></ion-checkbox>-->
      <ion-checkbox item-end color="dark" (click)="uncheck(i); $event.stopPropagation();" [checked]="marcado" ></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>