page-contato {

    .expand-wrapper {
        transition: 0.3s linear;
        overflow: hidden;
        white-space: normal !important;
    }   

    .collapsed {
        height: auto !important;
        max-height: 9ex !important;
    }

    .expanded {
        // height: 400px !important;
        max-height: 1000px !important;
    }

}
