<ion-header>
  <ion-navbar >
    <button *ngIf="!searching" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!searching" >Início</ion-title>
    <ion-searchbar 
      #searchbar 
      [placeholder]="placeHolder" 
      [class.hide]="!searching" 
      [type]="type" 
      [showCancelButton]="true" 
      (ionCancel)="searchClose()" 
      (ionInput)="getItems($event.target.value)">
    </ion-searchbar>
    <ion-buttons *ngIf="!searching" start>
      <button (click)="searchByString()" ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>  
</ion-header>

<ion-content>

  <ion-list 
    [virtualScroll]="songs" 
    (press)="pushPageSelect()" 
    approxItemHeight="67px" 
    no-lines 
    virtualTrackBy>

    <section padding *ngIf="songs.length == 0 && searching" >
      <h2>Sinto muito! Nenhum resultado correspondente :(</h2>
      <p>Tente novamente. Você pode buscar por número, 
        título ou mesmo por um trecho na música</p>      
    </section>
    
    <ion-item 
      *virtualItem="let song; let i = index" 
      (click)="pushPageMusic(song.ID)">
      <ion-icon 
        [class.favorit]="song.favorit"
        (click)="$event.stopPropagation(); favorit(song.ID);"
        item-start 
        name="heart" 
        color="light">
      </ion-icon>
      <ion-label>
        <h2>{{song.numero+". "}}{{song.titulo}}</h2>
        <p>{{song.tags}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button 
      (tap)="searchByNumber()" 
      ion-fab><ion-icon 
      name="keypad">
    </ion-icon></button>
  </ion-fab>

</ion-content>