<ion-header>
  <ion-navbar *ngIf="!searching">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title  >Home</ion-title>
    <ion-buttons start>
      <button (click)="search(2)" ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
 
   <ion-navbar *ngIf="searching">
    <ion-searchbar (ionCancel)="search()" [showCancelButton]="true" [placeholder]="placeHolder" [type]="type" (ionInput)="getItems($event.target.value)"></ion-searchbar>
    <!--<ion-buttons start>
      <button (click)="search()" ion-button icon-only color="royal">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let song of songs; let i = index" (click)="pushPage(i)">
      <h2>{{song.numero+". "}}{{song.titulo}}</h2>
      <!-- <h3>Don't Know What To Do!</h3> -->
      <p>{{song.tags}}</p>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button (click)="search(1)" ion-fab mini><ion-icon name="keypad"></ion-icon></button>
  </ion-fab>
  <!-- <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button> -->

</ion-content>
