page-home {

    .favorit { 
        color: red !important;  
    }

    .hide{
        max-width: 0px;
        max-height: 0px;
    }

    .off{
        transform: scale(0.0);
    }
}

// .negativeAction > span{
//     color: color($colors, dark);
// }
// .footer{
//     transform: translate(0px, 52px);
// }

// .animate{
//     transform: translate(0px, 0px);
// }
