<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <h3>Quem somos:</h3>
        <p >
          A Crown Studio, é uma empresa fundada e administrada pelo designer digital Isaac Brandão Lima, filho e membro da Igreja Bíblica de Morada Nova e que atua nas áreas de design e desenvolvimento de software, oferecendo soluções de design digitais e impressas, para seus clientes.
        </p>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <h3>Sobre o app:</h3>
        <p>
          Este aplicativo foi desenvolvido como uma solução digital do livro de coros, hinário base utilizado pelo grupo das Igrejas Bíblicas. Meu agradecimento especial em primeiro lugar a Deus, por ter nos capacitado a iniciar esse projeto, em segundo lugar a <strong (click)="load('https://www.facebook.com/deboravieira.mn')" ion-text color="facebook">Débora Vieira da Silva</strong> 
          que ajudou bastante no trabalho revisão do app. Que ele possa ser útil na obra do Senhor, contribuindo para a honra e glória de Deus.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>  
  <h1 for="">Igreja Bíblica de Morada Nova</h1>
  <label>Localização: </label>
  <div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1987.0152359413219!2d-38.37259434198406!3d-5.098775127477717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNcKwMDUnNTUuNiJTIDM4wrAyMicxNy40Ilc!5e0!3m2!1spt-BR!2sbr!4v1533713527284" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <ion-button 
    (click)="load('https://www.facebook.com/IgrejaBiblicaDeMoradaNova')"
    expand="block"
    color="facebook">
    <ion-icon slot="start" name="logo-facebook" > </ion-icon>
    facebook/igreja bíblica - mn
  </ion-button>
</ion-content>
