// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ffc107;
  --ion-color-primary-rgb: 255, 193, 7;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c79100;
  --ion-color-primary-tint: #fff350;

  /** secondary **/
  --ion-color-secondary: #00bcd4;
  --ion-color-secondary-rgb: 0, 188, 212;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #008ba3;
  --ion-color-secondary-tint: #62efff;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // # CUSTOM COLORS

  /** gray **/
  --ion-color-gray: #737373;
  --ion-color-gray-rgb: 115, 115, 115;
  --ion-color-gray-contrast: #000000;
  --ion-color-gray-contrast-rgb: 0, 0, 0;
  --ion-color-gray-shade: #989aa2;
  --ion-color-gray-tint: #d7d8da;

  /** whatsapp **/
  --ion-color-whatsapp: #25d366;
  --ion-color-whatsapp-rgb: 37, 211, 102;
  --ion-color-whatsapp-contrast: #ffffff;
  --ion-color-whatsapp-contrast-rgb: 255, 255, 255;
  --ion-color-whatsapp-shade: #00a038;
  --ion-color-whatsapp-tint: #6bff96;

  /** facebook **/
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59, 89, 152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #003069;
  --ion-color-facebook-tint: #6d85c9;

  /** email **/
  --ion-color-email: #dc4b3e;
  --ion-color-email-rgb: 220, 75, 62;
  --ion-color-email-contrast: #ffffff;
  --ion-color-email-contrast-rgb: 255, 255, 255;
  --ion-color-email-shade: #a40f16;
  --ion-color-email-tint: #ff7d69;

}

// Set values for all application
:root {

  // Props for toolbar
  --ion-toolbar-background: var(--ion-color-secondary);
  --ion-toolbar-color: var(--ion-color-secondary-contrast);
  --min-height-toolbar: 56px;

  // no padding in buttons wapper check boxes
  ion-button.wrapper{
    width: 56px;
    height: 56px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-bottom: 0px;
    --padding-top: 0px;
  }

  // fix specs distance for fab buttons
  ion-fab{
    bottom: 16px;
    right: 16px;
  }

  //paddind in scroll contents
  ion-content.scroll-content{
    --padding-bottom: 88px;
  }

  ion-list-header{
    border-bottom: solid 1px #e2e2e2;
  }

}


// Set values for android application
.md{

}

// Set values for iOS application
.ios{

}