<ion-header>
  <ion-toolbar id="nav">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{song.numero}}. {{song.titulo}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="smallText()" icon-only >
        <ion-icon name="remove-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="bigText()" icon-only >
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="more($event, ['Modo Slides'])" icon-only>
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding scroll-content">
  <div>
    <h2>{{song.titulo}}</h2>
    <section id='lyrics' [style.font-size]="getFontSize()">
      <p *ngFor="let estrofe of song.letra.estrofes; let i = index"
      [ngClass]="{'focus': hasFocus == i, 'bold': song.letra.coro == i}"
      (click)="getFocus(i)"
      >
        <span *ngFor="let linha of estrofe">{{linha}}<br/></span>
      </p>
    </section>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="finish()">       
        <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col class="no-padding">
        <ion-button (click)="prev()" [disabled]="hasPrev() == false" color="dark" fill="clear">anterior</ion-button>
      </ion-col>
      <ion-col class="ion-text-center no-padding">
        <ion-button (click)="showInfo()" color="dark" fill="clear" >{{song.numero}}</ion-button>
      </ion-col>
      <ion-col class="ion-text-right no-padding">
        <ion-button (click)="next()" [disabled]="hasNext() == false" color="dark" fill="clear">próximo</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>