page-select {
    .scroll-content{
        padding-bottom: 88px !important;
    }
    
    .favorit { 
        color: red !important;  
    }

    .item-cover{
        left: initial;
        right: 0;
        width: 52px;
    }
}
